# Tmp
*.swp
*.swo
*.pyc

# Logs
logs
*.log
npm-debug.log*
nohup.out

# Database
bicklebow.db

# Virtual environment
venv/

# Test coverage
coverage_*
.coverage*

# Configs
.env
.production.env
.vscode/
.idea